.keladminform {
    min-height: 60px;
}

.keladminform label {
    font-size: 12px;
    font-weight: 700;
    position: absolute;
}

.lblimg {
    font-size: 12px;
    font-weight: 700;
}

.keladminform input {
    position: relative;
    top: 18px;
    width: 100%;
    max-width: 500px;
}

.keladminform textarea {
    position: relative;
    top: 18px;
    margin-bottom: 25px;
}
